USE [master]
GO
/****** Object:  Database [CentralDB]    Script Date: 9/5/2025 8:37:32 PM ******/
CREATE DATABASE [CentralDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CentralDB', FILENAME = N'D:\MSSQL\MDF\CentralDB.mdf' , SIZE = 3686400KB , MAXSIZE = UNLIMITED, FILEGROWTH = 102400KB )
 LOG ON 
( NAME = N'CentralDB_log', FILENAME = N'E:\MSSQL\LDF\CentralDB_log.ldf' , SIZE = 5029888KB , MAXSIZE = 2048GB , FILEGROWTH = 102400KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CentralDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CentralDB]
GO
USE [CentralDB]
GO
/****** Object:  User [readonly]    Script Date: 9/5/2025 8:37:32 PM ******/
CREATE USER [readonly] FOR LOGIN [readonly] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [mcc]    Script Date: 9/5/2025 8:37:32 PM ******/
CREATE USER [mcc] FOR LOGIN [mcc] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [HMIS_Vendor_RW]    Script Date: 9/5/2025 8:37:32 PM ******/
CREATE USER [HMIS_Vendor_RW] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [HMIS_Vendor]    Script Date: 9/5/2025 8:37:32 PM ******/
CREATE USER [HMIS_Vendor] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [hidev]    Script Date: 9/5/2025 8:37:32 PM ******/
CREATE USER [hidev] FOR LOGIN [hidev] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [DeployJobs]    Script Date: 9/5/2025 8:37:32 PM ******/
CREATE USER [DeployJobs] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [deploy]    Script Date: 9/5/2025 8:37:32 PM ******/
CREATE USER [deploy] FOR LOGIN [deploy] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [baheya]    Script Date: 9/5/2025 8:37:32 PM ******/
CREATE USER [baheya] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [readonly]
GO
ALTER ROLE [db_datareader] ADD MEMBER [mcc]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [mcc]
GO
ALTER ROLE [db_datareader] ADD MEMBER [HMIS_Vendor]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [hidev]
GO
ALTER ROLE [db_datareader] ADD MEMBER [hidev]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [hidev]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [DeployJobs]
GO
ALTER ROLE [db_datareader] ADD MEMBER [DeployJobs]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [DeployJobs]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [deploy]
GO
ALTER ROLE [db_datareader] ADD MEMBER [deploy]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [deploy]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [baheya]
GO
ALTER ROLE [db_datareader] ADD MEMBER [baheya]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [baheya]
GO
/****** Object:  UserDefinedFunction [dbo].[Split]    Script Date: 9/5/2025 8:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE FUNCTION [dbo].[Split]
(
	@RowData nvarchar(max),
	@SplitOn nvarchar(max)
)  
RETURNS @RtnValue table 
(
	Id int identity(1,1),
	Data nvarchar(max)
) 
AS  
BEGIN 
	Declare @Cnt int
	Set @Cnt = 1

	While (Charindex(@SplitOn,@RowData)>0)
	Begin
		Insert Into @RtnValue (data)
		Select 
			Data = ltrim(rtrim(Substring(@RowData,1,Charindex(@SplitOn,@RowData)-1)))

		Set @RowData = Substring(@RowData,Charindex(@SplitOn,@RowData)+1,len(@RowData))
		Set @Cnt = @Cnt + 1
	End
	
	Insert Into @RtnValue (data)
	Select Data = ltrim(rtrim(@RowData))

	Return
END


GO
/****** Object:  UserDefinedFunction [dbo].[Split_FN_Param]    Script Date: 9/5/2025 8:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[Split_FN_Param]
(	
	-- Add the parameters for the function here
	@txt  varchar(Max)
)
RETURNS  @split table(clm varchar(50), st varchar(max))
AS
begin

declare @count int
declare  @temp table(id int, st varchar(max))
 

insert into @temp
select  *
 FROM DBO.Split(@txt,'|') 

 set @count =@@ROWCOUNT 

 while @count>0
	begin
		insert into @split 
		select substring(st,1,CHARINDEX('~',st,1)-1),substring(st,CHARINDEX('~',st,1)+1,len(st)) from @temp as t where id=@count
		set @count=@count-1
	end
	
return

end



GO
/****** Object:  Table [dbo].[HospitalsList]    Script Date: 9/5/2025 8:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HospitalsList](
	[HospitalID] [int] NULL,
	[HospitalName] [varchar](50) NULL,
	[ConnectionSTR] [varchar](200) NULL,
	[IPaddress] [varchar](50) NULL,
	[Active] [int] NULL,
	[is_not_hospital] [int] NULL,
	[hospital_code] [int] NULL,
	[allow_directExec] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SharedServiesQUEUE]    Script Date: 9/5/2025 8:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SharedServiesQUEUE](
	[Sys_Key] [bigint] IDENTITY(1,1) NOT NULL,
	[TableName] [varchar](4000) NULL,
	[HospitalID] [int] NULL,
	[Status] [int] NULL,
	[ERR] [varchar](4000) NULL,
	[IdentityInsertOn] [int] NULL,
	[TransType] [int] NULL,
	[KeyField] [varchar](4000) NULL,
	[systime] [datetime] NULL,
	[keyfield_value] [varchar](50) NULL,
 CONSTRAINT [PK_SharedServiesQUEUE] PRIMARY KEY CLUSTERED 
(
	[Sys_Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SharedServiesQUEUE_Bak]    Script Date: 9/5/2025 8:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SharedServiesQUEUE_Bak](
	[Sys_Key] [int] NOT NULL,
	[TableName] [varchar](50) NULL,
	[HospitalID] [int] NULL,
	[Status] [int] NULL,
	[ERR] [varchar](4000) NULL,
	[IdentityInsertOn] [int] NULL,
	[TransType] [int] NULL,
	[KeyField] [varchar](500) NULL,
	[systime] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_keys]    Script Date: 9/5/2025 8:37:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_keys](
	[sys_key] [int] IDENTITY(1,1) NOT NULL,
	[TableName] [varchar](100) NULL,
	[KeyField] [varchar](100) NULL,
	[excluded_upd_columns] [varchar](max) NULL,
	[prevent_delete_Flag] [int] NOT NULL,
	[is_prevent_bulkInsert] [int] NOT NULL,
	[is_prevent_bulkUpd] [int] NOT NULL,
 CONSTRAINT [PK__Table_ke__22AE235BB93A225B] PRIMARY KEY CLUSTERED 
(
	[sys_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_SharedServiesQUEUE]    Script Date: 9/5/2025 8:37:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_SharedServiesQUEUE] ON [dbo].[SharedServiesQUEUE]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SharedServiesQUEUE__Status__Systime]    Script Date: 9/5/2025 8:37:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_SharedServiesQUEUE__Status__Systime] ON [dbo].[SharedServiesQUEUE]
(
	[Status] ASC
)
INCLUDE([systime]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SharedServiesQUEUE_1]    Script Date: 9/5/2025 8:37:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_SharedServiesQUEUE_1] ON [dbo].[SharedServiesQUEUE]
(
	[HospitalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SharedServiesQUEUE_4]    Script Date: 9/5/2025 8:37:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_SharedServiesQUEUE_4] ON [dbo].[SharedServiesQUEUE]
(
	[TableName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Table_keys_TableName]    Script Date: 9/5/2025 8:37:33 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Table_keys_TableName] ON [dbo].[Table_keys]
(
	[TableName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HospitalsList] ADD  DEFAULT ((0)) FOR [is_not_hospital]
GO
ALTER TABLE [dbo].[HospitalsList] ADD  DEFAULT ((1)) FOR [allow_directExec]
GO
ALTER TABLE [dbo].[SharedServiesQUEUE] ADD  CONSTRAINT [DF_SharedServiesQUEUE_IdentityInsertOn]  DEFAULT ((1)) FOR [IdentityInsertOn]
GO
ALTER TABLE [dbo].[SharedServiesQUEUE] ADD  CONSTRAINT [DF_SharedServiesQUEUE_TransType]  DEFAULT ((0)) FOR [TransType]
GO
ALTER TABLE [dbo].[SharedServiesQUEUE] ADD  CONSTRAINT [DF_SharedServiesQUEUE_systime]  DEFAULT (getdate()) FOR [systime]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0=allow delete in bulk, 1=prevent bulk delete, 2 prevent delete' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Table_keys', @level2type=N'COLUMN',@level2name=N'prevent_delete_Flag'
GO
USE [master]
GO
